@font-face {
    font-family: "Montserrat";
    src:
        url("../fonts/Montserrat-Bold.woff") format("woff"),
        url("../fonts/Montserrat-Bold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
  }